*{
 box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width:150px;
    padding-top:5px;
    padding-left:20px;
}

nav {
    background-color: darkorchid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:white;
}
h2{
    margin-right:100px;
}
body{
    font-family: "Karla", sans-serif;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}
.image{
    width:50rem;
    height:35rem;
    border: black solid;
    margin: 1.5rem;

}
.imgp{
    padding-top:1rem;
    display:flex;
    justify-content: center;
}
span{
    font-size:20px;
}
.button{
    background-color: darkorchid;
    color:white;
    width:70%;
    margin-top:10px;
    margin-left:220px;
    height:30px;

}
.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input{
    display:flex;
    flex-direction: column;
    border-radius: 5px;
}
span{
    font-size:20px;
    color:green;
}
.divtop,.divbottom{
    position:absolute;
    font-size:50px;
    color:white;
    font-weight:bold;
}
.divtop{
    padding-top:70px;
}
.divbottom{
    padding-top:440px;
}